<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bkyziol.hexapod">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:debuggable="true"
        android:supportsRtl="true"
        tools:ignore="HardcodedDebugMode"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.bkyziol.hexapod.activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bkyziol.hexapod.activity.SettingsActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>